In [41]:
# Dependencies
import pandas as pd
import requests
from config import api_key
from sqlalchemy import create_engine

## Scrape Current Movie Poster Links

Note: Since the following loop runs for near an hour, this scrape code is in markdown.
The dataset generated is saved to csv in Resources for working file.

In [ ]:
# Link to metadata csv file to collect imdb ID
# movies_metadata = "Resources/movies_metadata.csv"
# metadata_df = pd.read_csv(movies_metadata, encoding="UTF-8")

In [ ]:
# Collect dataset's movie IDs
# imdb_id_all = metadata_df['imdb_id']

In [ ]:
# Create lists for final dataset
# imdb_id = []
# poster_link = []

# Search source website for current movie poster links using IMDB ID
# for movie in imdb_id_all:
    
#     try:    
#         url = "https://api.themoviedb.org/3/find/" + movie + "?api_key=" + api_key + "&language=en-US&external_source=imdb_id"
#         movie_data = requests.get(url, stream=True).json()
        
#         poster = movie_data['movie_results'][0]['poster_path']
#         poster_link.append("https://image.tmdb.org/t/p/w600_and_h900_bestv2/" + poster)
#         imdb_id.append(movie)
        
#         print(f"The poster link for movie ID {movie} is saved.")
                
#     except:
#         print(f"No poster link available for {movie}.")
#         pass

In [ ]:
# Create dataframe to combine lists
# poster_links = pd.DataFrame(
#     {'imdb_id': imdb_id,
#      'poster_link': poster_link
#     })
# poster_links

In [ ]:
# Save dataframe as CSV
# poster_links.to_csv("Resources/poster_links.csv", index=False, header=True)

In [39]:
# Pull csv file generated from above code for working data
poster_links_csv = "Resources/poster_links.csv"
poster_links = pd.read_csv(poster_links_csv, encoding="UTF-8")

## Extract & Transform Metadata

In [5]:
# Store csv filepath in a variable
movies_metadata = "Resources/movies_metadata.csv"

In [6]:
# Read our Data file with the pandas library
movies_metadata_df = pd.read_csv(movies_metadata, encoding="UTF-8")

In [7]:
# Show just the header
movies_metadata_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [38]:
metadata = movies_metadata_df[['imdb_id', 
                               'title', 
                               'genres', 
                               'original_language',
                               'popularity', 
                               'production_countries', 
                               'release_date',
                               'runtime', 
                               'status', 
                               'vote_average', 
                               'vote_count']]

metadata = metadata.dropna(how='any')
released_films = pd.DataFrame(metadata.loc[(metadata['genres']!='[]') & (metadata['production_countries']!='[]'), :])
released_films

,imdb_id,title,genres,original_language,popularity,production_countries,release_date,runtime,status,vote_average,vote_count
0,tt0114709,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,Released,7.7,5415.0
1,tt0113497,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,Released,6.9,2413.0
2,tt0113228,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,11.7129,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,Released,6.5,92.0
3,tt0114885,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,Released,6.1,34.0
4,tt0113041,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",en,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,Released,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...
45458,tt0252966,The Burkittsville 7,"[{'id': 27, 'name': 'Horror'}]",en,0.38645,"[{'iso_3166_1': 'US', 'name': 'United States o...",2000-10-03,30.0,Released,7.0,1.0
45459,tt0112613,Caged Heat 3000,"[{'id': 878, 'name': 'Science Fiction'}]",en,0.661558,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-01-01,85.0,Released,3.5,1.0
45460,tt0102797,Robin Hood,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",en,5.683753,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,104.0,Released,5.7,26.0
45462,tt2028550,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",tl,0.178241,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,360.0,Released,9.0,3.0
45463,tt0303758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",en,0.903007,"[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,90.0,Released,3.8,6.0

## Merge Metadata Sets

In [40]:
metadata_complete = pd.merge(released_films, poster_links, on=['imdb_id'])
metadata_complete.head()

,imdb_id,title,genres,original_language,popularity,production_countries,release_date,runtime,status,vote_average,vote_count,poster_link
0,tt0114709,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,Released,7.7,5415.0,https://image.tmdb.org/t/p/w600_and_h900_bestv...
1,tt0113497,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,Released,6.9,2413.0,https://image.tmdb.org/t/p/w600_and_h900_bestv...
2,tt0113228,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,11.7129,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,Released,6.5,92.0,https://image.tmdb.org/t/p/w600_and_h900_bestv...
3,tt0114885,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,Released,6.1,34.0,https://image.tmdb.org/t/p/w600_and_h900_bestv...
4,tt0113041,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",en,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,Released,5.7,173.0,https://image.tmdb.org/t/p/w600_and_h900_bestv...

## Extract & Transform IMDB Title-Ratings TSV File

In [42]:
# Link to source file and display head
ratings_file = "./Resources/title.ratings.tsv"
ratings_df = pd.read_csv(ratings_file, sep='\t')
ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1881
1  tt0000002            5.9       250
2  tt0000003            6.5      1660
3  tt0000004            5.8       163
4  tt0000005            6.2      2485

In [43]:
# Rename the column headers
ratings_cols = ratings_df.rename(columns={"tconst": "imdb_id", 
                                          "averageRating": "avg_rating", 
                                          "numVotes": "num_votes"})

In [44]:
# Clean the data by dropping duplicates and setting the index
ratings_cols.drop_duplicates("imdb_id", inplace=True)
ratings_cols.set_index("imdb_id", inplace=True)
ratings_cols.dropna(how='any')

           avg_rating  num_votes
imdb_id
tt0000001         5.7       1881
tt0000002         5.9        250
tt0000003         6.5       1660
tt0000004         5.8        163
tt0000005         6.2       2485
...               ...        ...
tt9916690         6.5          6
tt9916720         5.2        216
tt9916730         8.4          6
tt9916766         6.7         19
tt9916778         7.2         35

[1246946 rows x 2 columns]